@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito', serif;
  background-color: #FFFEF6;
  height: 100vh;
}
a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}